<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.le_space.gps2ftpcommon"
>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <service
            android:name="de.le_space.gps2ftpcommon.FetchAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>
